.my-shadow {
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.1);
}

.top-one {
    top: 50px;
}
.top-two {
    top: 97px;
}